site_name: nf-test

theme:
  name: material
  features:
    - navigation.instant
    - navigation.expand
    - tabs
  palette:
    primary: teal
    accent: teal
  icon:
    logo: material/rocket-launch-outline
  favicon: images/favicon.svg
  font:
    text: Roboto
    code: Roboto Mono

extra_css:
  - extra.css
repo_url: https://github.com/askimed/nf-test

nav:
  - Home: index.md
  - Installation: installation.md
  - Getting Started: getting-started.md
  - Writing Tests:
    - Pipeline Testing: testcases/nextflow_pipeline.md
    - Workflow Testing: testcases/nextflow_workflow.md
    - Process Testing: testcases/nextflow_process.md
    - Function Testing: testcases/nextflow_function.md
    - Params and Global Variables: testcases/global_variables.md
  - Writing Assertions:
    - Power Assertions: assertions/assertions.md
    - Files: assertions/files.md
    - Snapshots: assertions/snapshots.md
    - Regular Expressions: assertions/regular-expressions.md
    - FASTA Files: assertions/fasta.md
    - Using Third-Party Libraries: assertions/libraries.md
  - Command line Interface (CLI):
    - init: cli/init.md
    - generate: cli/generate.md
    - test: cli/test.md
    - clean: cli/clean.md
  - Configuration: configuration.md
  - Plugins:
    - Available Plugins: https://code.askimed.com/nf-test-plugins
    - Using Plugins: plugins/using-plugins.md
    - Developing Plugins: plugins/developing-plugins.md
  - Available Pipelines: nftest_pipelines.md
  - About: about.md


markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - footnotes
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets
