name: Create Release

on:
  push:
    tags:
    - '*'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Build
        run: mvn install

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "target/nf-test-*.tar.gz"
          token: ${{ secrets.GITHUB_TOKEN }}
